@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");
*{ 
margin: 0%;
padding: 0%;
}
.cabecalho{
background-color: rgb(255, 118, 209);
padding: 1.5%;

}
.cabecalho2{
    background-color: rgb(255, 255, 255);
    padding: 1.5%;
}
.li{ color: black;}
